<h2>Welcome to your profile page <%=@user.full_name%></h2>


<section>here is a list of movies you submitted</section>
<p id="profile-movies"><% @user.movies.each do |movie|%>
<%= movie.title %>
<%= link_to image_tag(movie.image_url), movie_path(movie) %></p>
<%end%>
