/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require gritter
 */


 @import url(http://fonts.googleapis.com/css?family=Lato:300|Amatic+SC);
 
 *{
   font-family: 'Amatic SC', cursive;
 }
 body{
  background-color: #F0F0F0;
 }
 #movie-header{
  height: 80px;
 }
 #movie-profile{
  display:inline-block;
  float:10px;
  position:relative;
 }

 #movie-display{
  text-align: vertical;
  display:inline-block;
  float:10px;
  position:relative;
 }

 a{
  color:black;
 }
 a:hover{
  color:red;
  text-decoration: none;
  }

  #submit-button{
    border:0;
    height:40px;
    width:80px;
    font-size:20px;
    margin-left:30px;

  }

  #search-placeholder{
    border:0;
    height:40px;
    width:120px;
    font-size:20px;
    }
    .movie-section{
      margin-top: 30px;
    }



